.search-user-button {
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: #00008b;
  border-radius: 6px;
  color: #fff;
  border: 0;
}

.search-user-button:focus {
  outline: 0;
}
.search-user-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.github-star-button {
  background-color: #f3f4f6;
  color: #333;
  border: 1px solid #d1d5da;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  width: 72px;
  height: 36px;
  align-items: center;
}
.icon-spacing {
  margin-right: 8px;
}
