.navbar {
  background: #00008b;
  width: 100%;
  text-align: center;
}

.navbar-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

.navbar img {
  height: 70px;
}

@media only screen and (max-width: 600px) {
  .navbar h1 {
    font-size: 18px;
  }
}
